:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    background: radial-gradient(circle at 40% 40%, #000000 25%, transparent 26%),
      radial-gradient(circle at 60% 60%, #00000080 25%, transparent 26%);
    background-size: 3em 3em;
    opacity: 1;
  }
}
